/*** Reset ***/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    vertical-align:baseline;
    background:transparent;
}

/*** Generiek ***/
body {
    width: 100%;
    min-height: 100%;
    padding: 1em 0;
    margin: 0;
    background-color: #F8F8F8;
}

::selection {
    color: white;
    background: #FF7E02;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    text-align: center;
}

.knop {
    margin: 0px;
    text-decoration: none;
    color: white;
    display: block;
    background-color: #2b77f2;
    text-align: center;
    color: #EFEFEF;
    font-size: 1em;
    border: 1px solid darkgray;
    border-radius: 2px;
    box-shadow: 0px 0px 5px #ABABAB;
}

.knop:hover, .container .menu ul a.active {
    background-color: #FF7E02;
    cursor: pointer;
    color: white;
}

.knop:visited {
    color: #DADADA;
}

/*** Navigatie ***/
.container .menu {
    background-color: #EFEFEF;
    box-shadow: 0px 0px 5px #ABABAB;
    width: 20%;
    float: left;
}

.container .menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.container .menu ul li a {
    width: 90%;
    padding: .25em 0;
    margin: .75em auto;
}

.container .menu, .container .content {
    padding: 1em 0;
    margin: 1.5em 0;
}

.menu-popup {
    display: none;
}

/*** Hoofdcontent ***/
.container {
    width: 90%;
    padding: 0 2.5%;
    margin: 0px auto;
}

.container .header {
    width: 100%;
    padding: .25em 0;
    background-color: #2b77f2;
    color: white;
    box-shadow: 0px 0px 5px #ABABAB;
}

.container .content {
    width: 80%;
    float: left;
}

.container .content h2 {
    margin: 0;
    padding: 0;
    text-align: center;
}

.container .content p {
    width: 80%;
    margin: 1em auto;
}

.container .content .spel-controls {
    width: 20%;
    margin: 1em auto;
    height: 2em;
}

.container .content .spel-controls .knop {
    display: block;
    width: 45%;
    margin-left: 2.5%;
    float: left;
}

.container .content .spel {
    width: 100%;
    display: block;
}

.container .content .spel canvas {
    display: block;
    border: 1px solid black;
    margin: 1em auto;
}

@media (max-width:1280px)  {
    /*** Nvaigatie ***/
    .container .menu {
        width: 35%;
    }
    /*** Hoofdstructuur ***/
    .container .content {
        width: 65%;
    }
    .container .content .spel-controls {
        width: 35%;
    }
}

@media (max-width:640px)  {
    /*** Generiek ***/
    .container .menu, .container .content, .container .content .spel canvas {
        width: 100%;
    }

    /*** Nvaigatie ***/
    .container .menu {
        display: none;
    }
    
    .menu-popup {
        display: block;
        width: 100%;
        margin: .5em auto 0 auto;
    }

    #show-menu {
        float: right;
    }

    #show-menu.clicked {
        background-color: red;
    }

    /*** Hoofdstructuur ***/
    .container .content .spel-controls {
        width: 50%;
    }
    .container .menu, .container .content {
        padding: 1em 0;
        margin: .5em 0;
    }
}